@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-bg.png');
    background-size: cover;
    width: 100vw;
    text-align: center;
    height: 100vh;
    font-family: "Bree Serif";
}

.card1 {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px;
}

.h12 {
    color: orange;
    font-size: 30px;
}

.h2 {
    color: #7b8794;
    font-size: 20px;
}

.but {
    border-style: solid;
    border-width: 0px;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Roboto";
}

.bg-black {
    background-color: black;
    width: 100vw;
    padding: 25px;
}

.card2 {
    background-color: white;
    border-radius: 10px;
    padding-right: 25px;
    margin-bottom: 25px;
}

.img2 {
    width: 70px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.h3 {
    color: black;
    font-size: 30px;
    padding-left: 25px;
    font-family: "Bree Serif";
    font-weight: bold;
}

.h4 {
    font-size: 12px;
    color: #7b8794;
    padding-left: 25px;
}

.gr {
    color: orange;
    font-size: 25px;
    font-family: "Bree Serif";
}

.wh {
    font-family: "Bree Serif";
    font-size: 12px;
    color: white;
}

.i {
    background-image: url('https://assets.ccbp.in/frontend/static-website/flats-list-d1-img.png');
    width: 100vw;
    height: 30vh;
    background-size: cover;
}

.loc {
    width: 30px;
    height: 30px;
}
