@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
}

.card2 {
    background-color: #f6c56e;
    color: #323f4b;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.h {
    font-family: "Bree Serif";
    margin: 15px;
}

.pb {
    font-family: "Roboto";
    margin: 15px;
}

.botton {
    background-color: #ffffff;
    border-width: 0px;
    border-color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin: 15px;
    width: 100px;
    border-radius: 10px;

}
